{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% block title %}Crear Venta{% endblock %}</h1>

    {{ include('venta/_form.html.twig') }}

    <a href="{{ path('app_venta_index') }} " class="btn btn-secondary btn-sm">Volver</a>
{% endblock %}
