{% extends 'base.html.twig' %}
    
{% block body %}
    <h1>{% block title %}Crear Cliente{% endblock %}</h1>

    {{ include('cliente/_form.html.twig') }}

    <a href="{{ path('app_cliente_index') }}">back to list</a>
{% endblock %}
