<form method="post" action="{{ path('app_producto_delete', {'id': producto.id}) }}" style="display:inline-block;" onsubmit="return confirm('¿Está seguro de que desea eliminar este producto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producto.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>