{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% block title %}Editar Producto{% endblock %}</h1>

    {{ include('producto/_form.html.twig', {'button_label': 'Actualizar', }) }}

    <a href="{{ path('app_producto_index') }}" class="btn btn-secondary btn-sm">Volver</a>

    {{ include('producto/_delete_form.html.twig') }}
{% endblock %}