{% extends 'base.html.twig' %}

{% block body %}
<h1>{% block title %}Crear Producto{% endblock %}</h1>

{{ include('producto/_form.html.twig') }}

<a href="{{ path('app_producto_index') }}" class="btn btn-secondary btn-sm">Volver</a>

{% endblock %}
